<% entries.each(function(entry){ %>
  <li>
    <a href="<%= entry.get("link")%>">
      <%= entry.get('title') %>
    </a>
    <p><%= entry.escape('description') %></p>
    <p><%= entry.get('json') %></p>

  </li>
<% }); %>
